body {
    background: radial-gradient(ellipse at top, #2c69d1, transparent),
                radial-gradient(ellipse at bottom, #00051a, rgb(71, 71, 71));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#band {
    margin: auto;
    display: flex;
    width: 150px;
    height: 35%;
    min-height: 10%;
    max-height: 3000px;
    background: linear-gradient(to left, black, rgba(55, 55, 61, 0.979), black);
    position: relative; //------------------

}

#band2 {
    margin: auto;
    display: flex;
    width: 150px;
    height: 35%;
    min-height: 10%;
    max-height: 3000px;
    background: linear-gradient(to left, black, rgba(55, 55, 61, 0.979), black);
    position: relative; //------------------
    

}

#face {
    margin: auto;
    display: flex;
    /* position: absolute; */
    /* top: 50%; */
    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
    width: 60%;
    height: 30%;
    max-width: 290px;
    max-height: 240px;
    background: radial-gradient(farthest-corner at 200px 250px, rgb(88, 88, 48),gold, rgb(238, 229, 182));
    border-radius: 40%;
    padding: 5px;
    /* justify-content: center; */
    /* align-items: center; */
    border-style: outset;
    position: relative; //------------------
    

}

#face2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* position: absolute; */
    /* top: 50%; */
    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
    width: 85%;
    height: 85%;
    max-width: 265px;
    max-height: 215px;
    background: radial-gradient(rgb(136, 149, 175), rgb(24, 24, 24) 100%);
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-style: inset;
    position: relative; //------------------

}

#upDis {
    font-family: 'ds-digitalnormal';
    font-size: small;
    display: inline-flex;
    width: 100%;
    max-width: 160px;
    justify-content: flex-end;
    align-items:flex-end;
    position: absolute;
    margin-right: 10px;
    /* background-color: coral; */
}

#day {
    font-size: small;
}


#display {
    /* margin: auto; */
    font-family: 'ds-digitalnormal';
    font-size: 2em;
    margin-bottom: 6px;
    padding-bottom: 6px;
    display: flex;
    width: 70%;
    height: 35px;
    max-width: 200px;
    max-height: 35px;
    justify-content: center;
    /* align-items: center; */
    /* background: rgba(31, 248, 230, 0.952); */
    background: linear-gradient(rgba(226, 168, 42, 0.952), rgba(146, 115, 12, 0.966));
    border-style: inset;
    position: relative; //------------------
    
}

#upDisDay {
    font-family: 'ds-digitalnormal';
    font-size: x-small;
    /* display: inline-flex; */
    width: 80%;
    max-width: 160px;
    justify-content:flex-end;
    align-items:flex-end;
    position: absolute;
    margin-right: 20px;
    margin-top: 4px;
    /* margin-left: 20px; */
    /* padding-left: 5px; */
    /* margin-left: 2em; */
    /* background-color: coral; */
}    
.lightUp {
    background: linear-gradient(rgb(31, 248, 230, .952), rgba(33, 119, 119, 0.658)) !important;

}

#btn {
    margin-top: 6px;
    /* margin: auto; */
    display: flex;
    max-width: 200px;
    color: blue;
    justify-content: center;
    align-items: center;
    
}
@font-face {
    font-family: 'ds-digitalnormal';
    src: url('https://thereeceshow.github.io/clock/css/fonts/ds-digi-webfont.woff2') format('woff2'),
         url('https://thereeceshow.github.io/clock/css/fonts/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 .shadow {
    box-shadow: 15px, 15px, 15px, black;
       
 }

 button {
     background: radial-gradient(rgb(194, 190, 190), white);
     background: radial-gradient(rgb(204, 204, 204), rgba(136, 132, 132, 0.692) 100%);
     border-radius: 35%;
 }

 button:focus {outline:0;}